/****MAIN PAGE CONTENT*/
html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  text-align: center;
  color: white;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #ef332d;
}

h1{
  font-size: 5em;
  padding: 1em;
}

.form_wrap{
  display: inline-block;
}

form{
  position: relative;
  display: block;
}

input{
  border: none;
  display: block;
}
