/****MAIN PAGE CONTENT*/
html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #02639d;
}

h3{
  font-size: 5em;
  text-align: center;
  color: #02639d;
}


/*HIDDEN MODAL*/
.modal_wrap{
  display: none;
}

/*SHOWING MODAL*/
.modal_wrap.showing{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #198bae;
  display: flex;
  position: fixed;
  z-index: 2;
}

.modal{
  text-align: right;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  background-color: #ee7eb2;
}

.modal_close{
  text-align: right;
}

.btn1_wrap{
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.btn1{
  font-weight: 700;
  padding: 1em;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 3em;
  background-color: burlywood;
  border: none;
  border-radius: 1em;
}
